# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# VSCode
.vscode/

# Environment files
.env
.venv/
*.egg-info/

# Figures 
figures/*.png
*.html
